.startFermentation {
    border-radius: 7px;
    margin: 15px 0 15px 0;
    box-shadow:  1px 1px 1px rgba(85, 16, 16, 0.7)

}

.commentsButton {
    border-radius: 7px;
    box-shadow:  1px 1px 1px rgba(85, 16, 16, 0.7)
}

.brewday-recipe-page-title {
    /* display: flex;
    justify-content: center; */
    font-family: 'Fredericka the Great', serif;
    font-size: 70px
}

.brewday-card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.brewday-card-description {
    height: 50px;
    width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.brewday-card-further-description {
    width: 700px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.gifImage {
    height: 90px;
    width: 100px;
    margin: 20px;
}

.titleAndImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 45px 0;
}

.brewday-instructions-card-further-description {
    height: 400px;
    width: 500px;
    padding: 50px;
    margin: 10px;
    border: 1.5px solid grey;
    overflow: scroll;
    border-radius: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7);
}



.brewday-instruction-card-further-description {
    font-size: 25px

}
.batchComments {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.commentDescription {
    height: 200px;
    width: 300px;
    border-radius: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7);
}

.batchComments {
 margin-top: 20px
}

.recipe-card-name {
    display: flex;
    justify-content: center
}

