@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

body {
    font-family: serif;
}

.recipe-page-title {
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great', serif;
    font-size: 70px
}

.recipeButton {
    display: flex;
    justify-content: center;
}
.addRecipe {
    border-radius: 5px;
    box-shadow:  3px 3px 3px rgba(85, 16, 16, 0.7)
}

.deleteIngredientButton {
    border-radius: 5px;
    margin: 7px;
    box-shadow:  2px 2px 2px rgba(107, 73, 73, 0.7);
    font-size: 12px
}

.deleteRecipeButton {
    border-radius: 5px;
    margin: 7px;
    box-shadow:  2px 2px 2px rgba(107, 73, 73, 0.7);
    font-size: 12px
}

.editRecipeButton {
    border-radius: 5px;
    margin: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7);
    font-size: 10px
}

.addIngredientButton {
    border-radius: 5px;
    margin: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7);
    font-size: 14px
}
.completeRecipeButton {
    border-radius: 5px;
    margin: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7);
    font-size: 14px
}

.stopwatchbutton {
    border-radius: 5px;
    margin: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7);
    font-size: 14px
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
}

.Stopwatch-header {
    font-size: 25px
}

.Stopwatch{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 200px; */
    border: 1.5px solid grey;
    border-radius: 7px;
    box-shadow:  4px 4px 4px rgba(85, 16, 16, 0.7);
    padding: 15px;
    margin-bottom: 10px;
}

.recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-left: 70px;
    margin-right: 70px

}

.recipe-card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    box-shadow:  5px 5px 5px rgba(85, 16, 16, 0.7);
    height: 370px;
    width: 310px;
}

.recipe-card-image {
    height: 100px;
    width: 100px;
    margin: 20px
}

.recipe-card-description {
    height: 50px;
    width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.recipe-detail-button {
    font-size: 20px;
}
.recipe-detail-card-name {
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great', serif;
    font-size: 70px;
    margin: 10px 0 45px 0;
}

.readyToBrew {
    border-radius: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7);
    margin: 20px
}

.recipeForm {
    width: 300px;
    height: 80%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.newRecipeForm {
    display: flex;
    justify-content: center;
    height: auto;
}
.newEditForm {
    display: flex;
    justify-content: center;
    height: auto;
} 

.editForm {
    width: 300px;
    height: 80%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.new-recipe-page-title {
    font-family: 'Fredericka the Great', serif;
    font-size: 70px
}
.recipe-detail-card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.titleAndImageRecipe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 45px 0;

}

.beerMug {
    height: 100px;
    width: 100px;
    margin: 20px;
}

.recipe-card-name {
    font-family: 'Fredericka the Great', serif;
}

.ingredients {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px;
}
#recipeInstructions {
    overflow: scroll;
}

#comments {
    overflow: scroll;
}

.recipe-card-further-description {
    height: 300px;
    width: 450px;
    padding: 30px;
    margin: 10px;
    border: 1.5px solid grey;
    overflow: scroll;
    border-radius: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7);

}

.recipe-detail-card-description {
    width: 600px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center
}

.recipe-detail-card-further-description {
    overflow: scroll;

}

.stopwatchandinstructions {
    display: flex;
    justify-content: center;
    flex-direction: row
}

.submitBottleDateButton {
    margin: 10px;
    border-radius: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7);
}