@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

.recipe-page-title {
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px
}

.recipeButton {
    display: flex;
    justify-content: center;
}
.addRecipe {
    border-radius: 7px;
    box-shadow:  3px 3px 3px rgba(85, 16, 16, 0.7)
}

.deleteRecipeButton {
    border-radius: 7px;
    margin: 2px;
    box-shadow:  1px 1px 1px rgba(85, 16, 16, 0.7)
}

.editRecipeButton {
    border-radius: 7px;
    margin: 2px;
    box-shadow:  1px 1px 1px rgba(85, 16, 16, 0.7)
}

.recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px
}

.recipe-card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    box-shadow:  5px 5px 5px rgba(85, 16, 16, 0.7)
}

.recipe-card-image {
    height: 100px;
    width: 100px;
    margin: 20px
}

.recipe-card-description {
    height: 80px;
    width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px
}

.recipe-detail-card-name {
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px
}

.readyToBrew {
    border-radius: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7)
}

.recipeForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

