.batches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px
}

.batch-page-title {
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great', serif;
    font-size: 70px
}

.batch-card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    box-shadow:  5px 5px 5px rgba(85, 16, 16, 0.7)
}

.batch-card-image {
    height: 100px;
    width: 100px;
    margin: 20px
}

.batch-detail-button {
    font-size: 15px
}

.batchRecipe {
    font-size: 30px
}

.deleteBatchButton {

border-radius: 5px;
margin: 7px;
box-shadow:  2px 2px 2px rgba(107, 73, 73, 0.7);
font-size: 12px
}


.editBatchButton {
    border-radius: 5px;
    margin: 7px;
    box-shadow:  2px 2px 2px rgba(85, 16, 16, 0.7);
    font-size: 10px
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
}