.navbar {
    background-color: #ffffff;
}

.navImage {
    height: 40px;
    width: 40px;
    padding: 2px
}
/* 
.outerNav {
    background-color: maroon;
    height: 5px
} */

.logoutButton {
    border-radius: 10px
}

.navUser {
    color: white
}