@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

.navbar {
    background-color: #ffffff;
}

.navImage {
    height: 40px;
    width: 40px;
    padding: 2px
}

.logoutButton {
    border-radius: 7px;
    margin: 0 15px 0 15px;
    font-family: 'Fredericka the Great', serif;
    width: 90px
}

.navUser {
    color: white
}

.siteName {
    font-family: 'Fredericka the Great', serif;
   font-size: 30px
}
