
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  background-color: black;
}

.landingPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    background-color:  rgb(255, 213, 96);
    border: 25px  rgb(1, 80, 199) solid;
    border-radius: 50px;
    padding-bottom: 40px;
}

.pageTitle {
  font-size: 220px;
  display: flex;
  justify-content: center;
  font-family: 'Fredericka the Great', serif;
  color: black;
  text-shadow: 10px 10px white;
  -webkit-text-stroke-width: 4px;
}

.loginForm {
  border: 20px rgb(1, 80, 199) solid;
  background-color: white;
  border-radius: 50px;
  width: 100%;
  box-shadow: 12px 12px black;
  width: 1000px;
}

.loginInfo {
  display: flex;
  justify-content: center;
  padding-bottom: 5px
  
}

.submit {
  border: 2px rgb(235, 130, 98) solid;
  border-radius: 10px;
  margin: 5px;
  font-family: 'Fredericka the Great', serif;
  color: black; 
  font-size: 25px;
  -webkit-text-stroke-width: .5px;
}

.signIn {
  display: flex;
  justify-content: center;
  font-family: 'Fredericka the Great', serif;
  color: black; 
  font-size: 75px;
  -webkit-text-stroke-width: 2px;
} 

.inputUser {
  font-size: 17px;
  font-family: 'Fredericka the Great', serif;
  padding-left: 2px;
  color: black; 
  font-size: 25px;
  padding-top: 7px;
  -webkit-text-stroke-width: .5px;
}

.password, .username{
  border: 2px rgb(235, 130, 98) solid;
  border-radius: 10px;
  margin: 5px;
  font-family: 'Fredericka the Great', serif;
}
