
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.landingPage {
    background-color: rgb(164, 211, 250);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
  }
   
  .innerLandingPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%
  }

.loginForm {
  border: 30px rgb(243, 218, 108) solid;
  background-color: white;
  border-radius: 10px;
  width: 800px;
  height: 220px;
  box-shadow: 12px 12px  white;
  padding-bottom: 20px;
  padding-left: 5px;
}

.submit {
  border: 2px rgb(235, 130, 98) solid;
  border-radius: 10px;
  margin: 5px;
  font-family: 'Fredericka the Great', serif;
  color: rgb(13, 87, 148); 
  font-size: 20px;
}

.password {
  height: 36px;
  border: 2px rgb(235, 130, 98) solid;
  border-radius: 10px;
  margin: 5px;
  font-family: 'Fredericka the Great', serif;
}

.username {
  border: 2px rgb(235, 130, 98) solid;
  border-radius: 10px;
  margin: 5px;
  font-family: 'Fredericka the Great', serif;
  padding-left: 10px;
  height: 36px;
}

.inputUser {
    font-size: 17px;
    font-family: 'Fredericka the Great', serif;
    padding-left: 2px;
    color: rgb(13, 87, 148); 
    font-size: 20px
}

.pageTitle {
  font-size: 175px;
  display: flex;
  justify-content: center;
  font-family: 'Fredericka the Great', serif;
  color: rgb(13, 87, 148);
  text-shadow: 9px 9px white;
  -webkit-text-stroke-width: 2px;
}

.signIn {
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great', serif;
    color: rgb(13, 87, 148); 
    font-size: 60px;
    padding-bottom: 7px;
} 
