@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

@media (max-width: 600px) {
    
}

.loginForm {
  margin: 20px;
  padding: 10px;
  border: 1px brown solid;
  background-color: white;
  border-radius: 10px;
  height: 200px;
  width: 700px;
  box-shadow: 10px 10px;
}

.submit {
  border: 1px brown solid;
  border-radius: 10px;
  margin: 5px;
}

.password {
  border: 2px brown solid;
  border-radius: 10px;
  margin: 5px;
}

.username {
  border: 2px brown solid;
  border-radius: 10px;
  margin: 5px;
}

.inputUser {
    font-size: 17px;
}

.pageTitle {
  font-size: 70px;
  display: flex;
  justify-content: center;
  font-family: "Fredericka the Great", serif;
  color: white;
}

.signIn {
    display: flex;
    justify-content: center;
    font-family: "Fredericka the Great", serif;
    font-size: 50px;
    padding-bottom: 15px
}

.landingPage {
  margin: 50px;
  height: 500px;
  width: 100%;
  margin: 20px;
  background-color: black;
}

.innerLandingPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  background-color: hsl(49, 100%, 50%);
  height: 300px;
}
