.registerForm {
    margin: 20px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px
}

.registerPageTitle {
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great', serif;

}
 
 .registerInnerLandingPage {
     background-color: white;
     display: flex;
     justify-content: center;
     flex-direction: row;
     align-items: center;
     margin: 20px;
     border-radius: 10px;
 }
 
.first_name {
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px
}

.last_name {
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px
}

.email {
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px
}  


.registerIconBeer {
    height: 306px;
    width: 222px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px;
}