.registerLandingPage {
    justify-content: center;
    flex-direction: column;
    align-items: center;
      position: fixed;
      top: 20px;
      left: 0;
      width: 100%;
      height: 95%;
      background-color:  white;
      border: 25px  rgb(1, 80, 199) solid;
      border-radius: 50px;
}
.registerForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px
}


.registerPageTitle {
    font-size: 150px;
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great', serif;
    color: black;
    text-shadow: 10px 10px rgb(255, 212, 23);
    -webkit-text-stroke-width: 4px;

}
 
.username, .password, .first_name, .last_name, .email {
    border: 2px rgb(235, 130, 98) solid;
    border-radius: 10px;
    margin: 5px;
    font-family: 'Fredericka the Great', serif;
    color: black; 
    font-size: 25px;
    -webkit-text-stroke-width: .5px;
   
}
